@font-face{
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.ttf') format('truetype'); 
} 

body {
	overflow-x: hidden;
	font-family: 'Montserrat';
}

header {
	background: #cccccc;
	padding: 20px 0;
	box-shadow: 2px 2px 5px rgb(102, 101, 101);
	z-index: 900;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
	border: 2px solid rgb(167, 165, 165);
	padding: 15px;
	border-radius: 16px;
	box-shadow: 1px 1px 2px rgb(169, 194, 181);
}

nav a {
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav li:hover {
	background-color: #C78C19;
}

footer {
	text-align: center;
	background: url("../img/bg.jpg");
	padding: 40px 0;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}

.titulo-centralizado {
	text-align: center;
	font-size: 2em;
	margin: 30px 0px;
}

.titulo-centralizado::first-letter {
	font-weight: bold;
	font-size: 1.3em;
}



p::first-line {
	font-style: italic;
}

@media screen and (max-width: 480px) {
    .caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
        width: auto;
    }

    nav {
        position: static;
    }

	nav li {
		padding: 5px;
	}

	nav a {
		font-size: 1em;
	}

	h1 {
		text-align: center;
	}

	.utensilios {
		float: none;
	}

}